<style>
    body {
        font-family: "Times New Roman", Times, serif;
        background: url("https://vasekcz230.github.io/img/background.jpg") no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    #container {
        width: 700px;
        margin: 38px auto;
        background-color: #ccdcf3;
        border: none;
        padding: 5px;
    }
    #header {
        background-color: #4377ed;
        color: #eaf5ff;
        text-align: center;
        padding: 5px;
        font-size: 20px;
        font-style: italic;
    }
    #menu {
        width: 100px;
        background-color: #5c90f3;
        padding: 5px;
        color: #ccdcf3;
        vertical-align: top;
    }
    #menu a {
        display: block;
        padding: 8px 0;
        color: #ccdcf3;
        text-decoration: none;
    }
    #menu a:hover {
        background-color: #84acf4;
        color: #ccdcf3;
    }
    #content {
        padding: 20px;
        background-color: #ccdcf3;
        color: #4a4d7c;
        font-size: 18px;
    }
    #footer {
        background-color: #4377ed;
        color: #ccdcf3;
        text-align: center;
        padding: 10px;
        font-size: 14px;
    }
    table {
        width: 100%;
    }
</style>
