body {
    font-family: "Times New Roman", Times, serif;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#container {
    width: 700px;
    margin: 38px auto;
    background-color: #ccdcf399;
    border: none;
    padding: 5px;
}

#header {
    background-color: #4377edb3;
    color: #eaf5ff;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-style: italic;
}

#menu {
    width: 100px;
    background-color: #5c90f3b3;
    padding: 5px;
    color: #eaf5ff;
    vertical-align: top;
}

#menu a {
    display: block;
    padding: 8px 0;
    color: #eaf5ff;
    text-decoration: none;
}

.menu a:hover {
    background-color: #84acf4b3;
    color: #eaf5ff;
}

#content {
    padding: 10px;
    line-height: 1;
    background-color: #ccdcf399;
    color: #4a4d7c;
    font-size: 18px;
}

.news {
    width: auto;
    height: 200px;
    padding: 5px;
    overflow-y: scroll;
    border: 1px solid rgba(192, 192, 255, 0.5);
}

/* Chrome, Edge, Opera */
.news::-webkit-scrollbar {
    width: 8px;
}

.news::-webkit-scrollbar-track {
    background: rgba(192, 192, 255, 0.05);
}

.news::-webkit-scrollbar-thumb {
    background: rgba(192, 192, 255, 0.3);
    border-radius: 10px;
}

.news::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* Firefox */
.news {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.3) rgba(255,255,255,0.05);
}

#footer {
    background-color: #4377edb3;
    color: #eaf5ff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

table {
    width: 100%;
}
